

  /* body::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  } */

  /* .test {
    position: relative;
  } */

  .heading h1 {

    /* position: fixed; */
    /* position: relative; */

    /* position: fixed; */

    font-size: 60px;

    background: linear-gradient(to right, #dd5e89, #f7bb97);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: monospace;
    /* overflow: hidden; */
    /* overflow:visible */
    /* overflow-x: scroll; */

    border-right: .15em solid #dd5e89; 
    white-space: nowrap; 
    letter-spacing: .15em; 

  }

  #landing .heading h1 {

    animation: 
    typingOutCode 2.5s steps(30, end),
    blinkIcon .5s step-end infinite;

  }

  #notlanding .heading h1 {

    animation: 
    typingOutCode 1.5s steps(30, end),
    blinkIcon .4s step-end infinite;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #F1A494;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

.sidenav a:hover{
  transition: 0.5s;
  color: #3a475e;
}

#landing .heading {
  /* left: 0; */
  /* margin-top: -100px; */
  /* position: absolute;
  text-align: center;
  top: 50%;
  left: 22.5%; */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);

}



#notlanding .heading {
    position: absolute;
  top: 2%;
  left: 7% 
}

.fab {
  font-size: 30px;
  color: white;
  margin-right: 30px;

}

#landing .subheading {

  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: fadeInAnimation ease 5s;
  opacity: 0;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.displayToggle {
  position: absolute;
  top: 8px;
  right: 16px;
}

#landing .fa-moon {
  font-size: 25px;
  color: #F1A494;

  animation: fadeInAnimation ease 5s;
  opacity: 0;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#notlanding .fa-moon {
  font-size: 25px;
  color: #F1A494;
}

.fa-moon:hover {
  transition: 0.6s;
  transform: scale(1.1);
  color: white;
  
}

.fa-moon:not(:hover) {
  transition: 0.2s;
  transform: scale(1);
  
}

.fab:hover{

  transition: 0.6s;
  transform: scale(1.1);
}

.fab:not(:hover) {
  transition: 0.2s;
  transform: scale(1);
}

.fa-github:hover{
  color: #DD5E89;
}

.fa-linkedin-in:hover{
  color: #E4758D;
}

.fa-facebook:hover{
  color: #EA8D90;
}

.fa-instagram:hover{
  color: #F1A494;
}

.fa-twitter:hover{
  color: #F7BB97;

}

#landing .fa-bars {
  font-size: 25px;
  color: white;

  animation: fadeInAnimation ease 5s;
  opacity: 0;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#notlanding .fa-bars {
  font-size: 25px;
  color: white;
}

.fa-bars:hover {
  transition: 0.6s;
  transform: scale(1.1)
}

#overlay {

  position: fixed;
  display: none;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0,0,0,0.5);
  z-index: 1;

  animation: fadeInAnimation 0.5s;

  /* overflow: none; */

}

.techInfo {
  /* margin-left: 50%; */
  position: absolute;
  top: 18.76%;
  left: 7%;
  /* top: 10%;
  left: 10%; */
  /* margin-top: 9%; */
  background-color:#3a475e;
  width: 650px;
  height: 400px;
  border-radius: 2%;
  /* border: 5px solid #E4758D; */
  /* padding: 5px; */
  /* margin: 20px;  */

  box-shadow: 0 5px 10px rgb(0 0 0 / 0.4);

  /* margin-right: 7%; */
}


.serviceProj {
  /* margin-left: 50%; */
  position: absolute;
  top: 18.76%;
  left: 7%;
  /* top: 10%;
  left: 10%; */
  /* margin-top: 9%; */
  background-color:#3a475e;
  width: 1390px;
  height: 400px;
  border-radius: 2%;
  /* border: 5px solid #E4758D; */
  /* padding: 5px; */
  /* margin: 20px;  */

  box-shadow: 0 5px 10px rgb(0 0 0 / 0.4);

  /* margin-right: 7%; */
}

.techInterest {
  /* margin-left: 50%; */
  position: absolute;
  top: 70%;
  left: 7%;
  /* top: 10%;
  left: 10%; */
  /* margin-top: 9%; */
  background-color:#3a475e;
  width: 650px;
  height: 400px;
  border-radius: 2%;
  /* border: 5px solid #E4758D; */
  /* padding: 5px; */
  /* margin: 20px;  */

  box-shadow: 0 5px 10px rgb(0 0 0 / 0.4);

  /* margin-right: 7%; */
}

.vertLine {
  top: 23%;
  border-left: 3px solid #E4758D;
  position: absolute;
  height: 65%;
  left: 50%;
}

.techInfo>h1 {
  text-align: center;
  vertical-align: top;

  font-size: 30px;
}

.techInterest>h1 {
  text-align: center;
  vertical-align: top;
  font-size: 30px;

}

.projShow {
  /* display: flex;
  justify-content: space-evenly;
  border: 10px solid white;
  position: fixed;
  top: 25%;
  left: 7%;
  right: 7%;
  overflow-y: scroll; */
  /* width: 70%; */

  /* left: 10%; */
}

.resume {

  margin-left: 52%;
  margin-top: 9%;

  /* float:right; */

  /* top: 1000px; */
  /* box-shadow: 2px 10px; */
  /* border: 1px solid black; */
}

.lang {
  position:absolute;
  left: 5%;
  width: 275px;
  height: 310px;
  /* text-decoration: none; */
}

.tools {
  position: absolute;
  right: 5%;
  /* background-color: #dd5e89; */
  width: 275px;
  height: 310px;
}

.icons {
  /* padding: 10px; */
  /* vertical-align: middle; */
  /* top: 50%; */
  /* padding-bottom: 50%; */
  /* text-decoration: none; */
  padding: 13px;
  padding-top: 22%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 60px;
  
}

.icons a{
  text-decoration: none;
  color: white;
}

.servicePara {
  color:white;
  /* border: 5px outset #DD5E89; */
  text-align: left;
  margin-left: 2%;
  width: 60%;
  height: 75%;
}

.servicePic {
  /* border: 5px outset #DD5E89; */
  /* margin-left: 66%;
  margin-top: -27.65%; */
  /* margin-left: 66%; */

  margin-left: 66%;
  margin-top: -22.3%;
  width: 30%;
  height: 75%; 
  }

  #service2 {
    position: absolute;
    top: 65%;

  }

  #para2 {
    margin-left:36%;
  }

  #pic2 {
    margin-left: 2%;
  }



  
  @keyframes typingOutCode {
    from { 
      width: 0 
    }
    to { 
      width: 100% 
    }
  }
  
  @keyframes blinkIcon {
    from, to { 
      border-color: transparent 
    }
    50% { 
      border-color: #dd5e89
    }
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


